<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-secondary"><h3>KarmaYoga</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!LoginAuthentication">
                        <td>
                            <button class="btn" routerLink="../login">Login</button>  
                        </td>
                     </tr>
                     <tr *ngIf="!LoginAuthentication">
                         <td>
                            <button class="btn" routerLink="../register">Register</button>
                         </td>
                     </tr>
                     <tr *ngIf="LoginAuthentication">
                        <td>
                           <button class="btn" routerLink="../profile">Profile</button>
                        </td>
                    </tr>
                    <tr *ngIf="LoginAuthentication">
                        <td>
                            <button class="btn" routerLink="../find-work">Find Work</button>
                        </td>
                    </tr>
                    <tr *ngIf="LoginAuthentication">
                        <td>
                            <button class="btn" routerLink="../logout">Logout</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>