<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h2 class="text-center text-success">Earn and Learn scheme</h2><br/>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/Earn and Learn.png" class="img-fluid">
                </div>
                <div class="col-sm-8">
                    <p>The main objective of the scheme is to develop a student as a multifaceted personality with academic excellence and a commitment to an egalitarian society.</p>
                    <p>India lives in her villages and to bridge the gap between rural Bharat and urban India, this scheme is basically undertaken for the benefit of students coming from the rural areas, who are economically backward, intelligent and meritorious but cannot afford higher education, needy and financially hard pressed.</p>
                </div>
            </div>
            <p> It inculcates in the student the idea that no work is big or small and develops a work culture with the right aptitude.</p>
            <p>This is a vision of keeping our youth gainfully employed as well as to contribute from civil society. This is a paradigm shift in the way we see higher education. This will make higher education accessible and available to the poor, meritorious and the marginalized.</p>
            <p><b>Technical work includes :</b><br/>
            <p>
                Knowledge of computers, office machines such as photocopying etc. or even working at a telephone booth, while field work includes working in the garden, looking after newly planted trees, play grounds, cleanliness of the campus etc. Each student is expected to work for three hours (3) daily.
            </p>
            <p><b>Payment method : </b></p>
            <p>Students working under this scheme are paid an honorarium of Rs.45 per hour as per the revised.Payment is made as per the attendance sheet, which is to be maintained by the institute/college.</p>
            <p>The students are requested to open a bank account at their respective places and cheques make payments. At the end of the year the respective institute/college is requested to submit the annual accounts for the scheme when the central audit scheme is undertaken.</p>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>