<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-sidepanel></app-sidepanel>
        </div>
        <div class="col-md-8 card">
            <br/><h3 class="text-center text-secondary card-title">KarmaYoga Registration Form</h3><hr/>

            <div class="card-body">

                    <form [formGroup]="this.StudentRegistrationService.form" (ngSubmit)="onSubmit()">
                            <!--Accepting Key-->
                            <input type="hidden" formControlName="$key">
            
                            <!--Generating automatic applicant id-->
                            <input type="hidden" formControlName="ApplicantId">    
            
                            <!--Email ID-->
                            <div class="form-group">
                                <label>Gmail id : </label>
                                <input formControlName="StudentEmail" type="email" class="form-control" placeholder="example@gmail.com" [ngClass]="{'is-invalid':formControls.StudentEmail.errors && formControls.StudentEmail.touched}">
                                <!--Email id validator-->
                                <div class="invalid-feedback" *ngIf="formControls.StudentEmail.touched && formControls.StudentEmail.errors">
                                    <small *ngIf="formControls.StudentEmail.errors.required">Please fill this field.</small>
                                    <label *ngIf="formControls.StudentEmail.errors.pattern">Please enter valid <b>Gmail</b> id.</label>
                                </div>
                                <div *ngIf="!formControls.StudentEmail.valid">
                                    <small class="text-warning">Please make sure that you are entering <b><u>Gmail</u></b> address.</small>
                                </div>
                                <div *ngIf="formControls.StudentEmail.valid">
                                    <small class="text-primary">Please consider your Gmail address as login-id.</small><br/>
                                </div>
                                <div *ngIf="formControls.StudentEmail.touched">
                                    <div *ngFor="let student of StudentArray">
                                        <label class="text-danger" *ngIf="student.StudentEmail==formControls.StudentEmail.value">This Gmail id is already registerd. Please use another id.</label>
                                    </div>
                                </div>
                            </div>
            
                            <!--Password-->
                            <div class="form-group">
                                <label>Password : </label>
                                <input formControlName="StudentPassword" type="password" class="form-control" [ngClass]="{'is-invalid':formControls.StudentPassword.touched && formControls.StudentPassword.errors}">
                                <!--Password Validator-->
                                <div class="invalid-feedback" *ngIf="formControls.StudentPassword.touched && formControls.StudentPassword.errors">
                                    <label *ngIf="formControls.StudentPassword.errors.minlength && formControls.StudentPassword.touched">Password lenght should be more than 6 letters.</label>
                                    <label *ngIf="formControls.StudentPassword.errors.required && formControls.StudentPassword.touched">Password field is required.</label>
                                </div>
                            </div>
            
                            <!--Confirm Password-->
                            <div class="form-group">
                                <label>Confirm Password : </label>
                                <input formControlName="StudentConfirmPassword" type="password" class="form-control" [ngClass]="{'is-invalid':formControls.StudentConfirmPassword.errors && formControls.StudentConfirmPassword.touched}">
                                <!--Confirm Password Validator-->
                                <div class="invalid-feedback" *ngIf="formControls.StudentConfirmPassword.errors && formControls.StudentConfirmPassword.touched">
                                    <label *ngIf="formControls.StudentConfirmPassword.errors.minlength && formControls.StudentConfirmPassword.touched">Password length should be minimum 6 characters long.</label>
                                    <label *ngIf="formControls.StudentConfirmPassword.errors.required && formControls.StudentConfirmPassword.touched">This field should not be empty</label>
                                    <label *ngIf="formControls.StudentConfirmPassword.errors.MustMatch && formControls.StudentConfirmPassword.touched">Password and Confirm password field should be same.</label>
                                </div>
                            </div>
            
                            <!--Submit Button-->
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success" [disabled]="!this.StudentRegistrationService.form.valid">Register Me</button>
                            </div>
            
                        </form>

            </div>

            <div class="alert alert-info"  *ngIf="showSuccessMessage">
                Congratulations you are registered successfully into KarmaYoga Database.
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<ng-container *ngFor="let student of StudentArray">
    <tr>
        <td>{{student.StudentPassword}}</td>
    </tr>
</ng-container>