<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-secondary"><h3>KarmaYoga</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn" routerLink="../login">Login</button>  
                        </td>
                     </tr>
                    <tr>
                        <td>
                            <button class="btn" routerLink="../add-department">Add Department</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn" routerLink="../applicant-student">Applicant Student</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn" routerLink="../manage-caste">Manage Caste</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>