<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">KarmaYoga Team</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/Gayatri.jpg" alt="card image"></p>
                                    <h4 class="card-title">Gayatri Pagar</h4>
                                    <p class="card-text">M.Sc (Computer Science)</p>
                                    <p class="card-text">Email : gayatripagar31@gmail.com</p>
                                    <p class="card-text text-center font-weight-bold">Key Skills</p>
                                    <p class="card-text">C, C++, JAVA, Data Structures, PHP, Python, HTML5, CSS3, JAVASCRIPT, Angular 8</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Developer</h4>
                                    <p class="card-text">
                                        Hello, I'm Gaytari! Here at Modern College,ShivajiNagar,Pune, I work on this project with our partner, sharing best practice and helping them make to system easy to handle.    We own our sincere gratitude to all those people who have given us their constant support and encouragement without which our project report would not have reached this stage.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
           
            


            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/Mohit.png" alt="card image"></p>
                                    <h4 class="card-title">Mohit Chaudhari</h4>
                                    <p class="card-text">M.Sc (Computer Science)</p>
                                    <p class="card-text">Email : chaudharimohit39@gmail.com</p>
                                    <p class="card-text text-center font-weight-bold">Key Skills</p>
                                    <p class="card-text">C, C++, JAVA, Data Structures, PHP, Python, HTML5, CSS3, JAVASCRIPT, Angular 8</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Developer</h4>
                                    <p class="card-text">
                                        Hello, I'm Mohit! Here at Modern College,ShivajiNagar,Pune, I work on this project with our partner, sharing best practice and helping them make to system easy to handle.    We own our sincere gratitude to all those people who have given us their constant support and encouragement without which our project report would not have reached this stage.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/Chaitanya.jpg" alt="card image"></p>
                                    <h4 class="card-title">Chaitanya Bhadane</h4>
                                    <p class="card-text">M.Sc (Computer Science)</p>
                                    <p class="card-text">Email : chaitanya.bhadane309@gmail.com</p>
                                    <p class="card-text text-center font-weight-bold">Key Skills</p>
                                    <p class="card-text">C, C++, JAVA, Data Structures, PHP, Python, HTML5, CSS3, JAVASCRIPT, Angular 8</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Developer</h4>
                                    <p class="card-text">
                                        Hello, I'm Chaitanya! Here at Modern College,ShivajiNagar,Pune, I work on this project with our partner, sharing best practice and helping them make to system easy to handle.    We own our sincere gratitude to all those people who have given us their constant support and encouragement without which our project report would not have reached this stage.


                                    </p>
                                                                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>
<!-- Team -->