<!-- Footer -->
<footer class="footer bg-dark text-white">

        <!-- Social Icons -->
        <div class="bg-secondary">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-12 col-lg-12">
                        <h6 class="mb-0 white-text">
                            Powered by : 
                            <a href="http://moderncollegepune.edu.in/" class="text-white">
                                Modern College of Arts, Science and Commerce, Shivajinagar, Pune - 411 005
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social Icons -->

        <!-- Footer Links -->
        <div class="container pt-5 pb-2">
            <div class="row">

                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h4>Progressive Education Society's</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p>
                        Modern College of Arts, Science and Commerce, Shivajinagar, Pune - 411 005
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h4>Key Points</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="text-white">NAAC Re-accredited 'A+' Grade</p>
                    <p class="text-white">'Best College Award',SPPU</p>
                    <p class="text-white">'College with potential for Excellence',UGC</p>
                    <p class="text-white">'Star college status',DBT</p>
                    <p class="text-white">'UGC: BSR & DST: FIST Funded'</p>
                    <p class="text-white">'Community College Scheme',UGC</p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h4>Useful links</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><a routerLink="#" class="text-white">Home</a></p>
                    <p><a routerLink="teacher-list" class="text-white">Teacher Corner</a></p>
                    <p><a routerLink="student-list" class="text-white">Student Corner</a></p>
                    <p><a routerLink="karmayoga-team" class="text-white">KarmaYoga Team</a></p>
                    <p><a routerLink="contact" class="text-white">Contact Us</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h4>Contact</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><i class="fa fa-home mr-3 text-white"></i><a href="https://goo.gl/maps/ky1LNBtfvK7WcbWt8">Modern College of Arts, Science and Commerce, Shivajinagar</a></p>
                    <p><i class="fa fa-envelope mr-3"></i> principal@moderncollegepune.com</p>
                    <p><i class="fa fa-phone mr-3"></i> 020-2553 5927, 020-2553 5102</p>
                    <p><i class="fa fa-print mr-3"></i> 020-2553 6075</p>
                </div>

            </div>
        </div>
        <!-- Footer Links-->

        <hr class="bg-white mx-4 mt-2 mb-1">

        <!-- Copyright-->
        <div class="container-fluid">
            <p class="text-center m-0 py-1">
                © 2019 Copyright <a href="#" class="text-white">KarmaYoga Team</a>
            </p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->